@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300;1,400&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 17vh;
  flex-direction: column;

}
.option-bar{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 80%;
  justify-content: center;
}

.option-bar h1{
  margin-left: 5vw;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.5vw;
  display: flex;
  color: rgba(60, 60, 60, 1);
}


select{
  outline: none !important;
  cursor: pointer;
  border: none;
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 10px;
 padding-bottom: 10px;
 font-size: 1.5vw;
 text-transform: uppercase;
 font-family: 'Montserrat', sans-serif;
 border: 3px solid rgba(60, 60, 60, 1);
 background-color: transparent;
  color: rgba(60, 60, 60, 1);
  letter-spacing: 1.5px; 
  margin-bottom: 5vh;
}

.logo{
  width: 8vw;
  height: 8vw;
  position: absolute;
  top: 4%;
  z-index: 10;

}

.logo-load{
  width: 80px;
  height: 80px;

}

.table-container{
  width: 80vw;
  height: auto;
  border: 3px solid rgba(60, 60, 60, 1);
  flex-direction: column;
}

.titulo{
  background-color: rgba(60, 60, 60, 1);
  color: white !important;
}



.row{
  width: 80vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid rgba(198,198,198,1);;

}
.row h2{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.5vw;
  display: flex;
  color: rgba(60, 60, 60, 1);
  justify-content: center;
  align-items: center;
}
.column{
  width:25%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 0.8vw;
  display: flex;
  color: rgba(60, 60, 60, 1);
  justify-content: center;
  align-items: center;


}

.column h1{
  margin: 0;
}
.content{
  font-size: 0.6vw;
  text-transform: none;
  padding: 2%;

}

.first{
  text-align:left ;
  justify-content: flex-start;
}

.loader-container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: white;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}

.visible {
  opacity: 1;
  visibility: visible;
  transition: all 1s;
  }

  @keyframes example {
    0%   {background-color: transparent;}
    100%  {background-color: white;}
  }
  .overlay{
    width: 80px;
    height: 80px;
    position: absolute;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  @media screen and (max-width: 600px) {
.App{
  padding-top: 8vh;
}

select{
  margin-bottom: 2vh;
  font-size: 3vw;
}
.column h1{
  font-size: 3vw;
}

.option-bar h1{
  font-size: 3vw;
}

  }